:root{
    --bs-gutter-x: 58px !important;
}
.container {
    max-width:clamp(284px, calc(284px + (2294 - 284) * ((100vw - 320px) / (2560 - 320))), 2296px) !important;
    padding: 0px;
  }
.row{
    --bs-gutter-x: 58px !important;
}

.navbar-custom {
    background-color: white !important;
    padding: 15px !important;
}
.navbar-brand img {
    height: 30px !important;
}
.contact-btn {
    border: 2px solid #407BFF !important;
    border-radius: 20px !important;
    padding: 5px 15px !important;
    font-weight: 500 !important;
}
.contact-btn:hover {
    background-color: #407BFF !important;
    color: white !important;
}
.offcanvas {
    background-color: #407BFF !important;
}
.offcanvas .nav-link {
    color: white;
    font-size: 18px;
}
.navbar-nav{
    gap: 32px;
    font-size: 22px;
}
.nav-link{
    color: #407BFF !important;
}
.navbar ul li a {
    text-decoration: none;
    color: #407BFF;
    text-transform: uppercase;
}
.navbar ul li {
    opacity: 0.5;
    list-style: none;
    display: inline;
    margin: 0 20px;
    position: relative;
    text-align: center;
}
.navbar ul li:hover {
    opacity: 1.0;
    font-weight: bold;
}
.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #407BFF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;

}
.hero-section {
    background-image: url("/assets/images/svg/hero-background.png") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
}
.hreo-title{
    color: #407BFF;
}
.hero-pera{
    color: #407BFF;
    font-weight: 500;
}


.card {
    border: 2px solid #407BFF;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}
.card:hover {
    transform: translateY(-5px);
}
.card-body {
    text-align: center;
    background-color: #407BFF;
}
.btn-custom {
    background-color: #c3ff00 !important;
    border: none !important;
    padding: 10px 20px !important;
    font-weight: 500 !important;
}
.card-img-top{
    height: 245px;
}